.ingredients-section {
    h3{
        text-align: start;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #F2F2F3;
    }
}

.ingredients-items {
    display: flex;
    flex-wrap: wrap;

    &__item{
        width: 46%;
        min-width: 272px;

        img{
            width: 240px;
            height: 120px;
        }

        .price {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    p{
        margin: 0;
    }
}
