.constructor-elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75vh;
    width: 100%;
    align-items: end;
    overflow-x: hidden;

    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        border-radius: 10px;
        background-color: #2F2F37;
        margin-top: 90px;
        margin-bottom: 68px;
    }

    &::-webkit-scrollbar{
        width: 8px;
    }

    &::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background-color: #8585AD;
    }

    .constructor-element {
        position: relative;
        margin-right: 10px;
        &:not(:first-child):not(:last-child) {

            &::before {
                content: url(../../images/burger-constructor.svg);
                position: absolute;
                width: 24px;
                height: 24px;
                left: -37px;
                top: 37%;
                cursor: pointer;
            }

            .constructor-element__action:hover svg path {

                fill: rgb(229, 43, 26);

            }

        }
    }

}

.burgerSection-constructor {
    align-items: end;
}

.constructor-result {
    display: flex;

    &__price{
        display: flex;
        align-items: center;
    }

}